/**
 * Style the new Joomla modals
 * ===========================
 * By default we only get a very small modal window
 * Overriding styles make sure we get the most space out of it (at least on our views)
 */

.mce-window.mce-in {
  opacity: 1;
  width: 1080px !important;
  max-width: 90% !important;
  height: 800px !important;
  max-height: 90% !important;
  left: 50%!important;
  top: 50% !important;
  bottom: auto !important;
  padding: 0 !important;
  transform: translate(-50%, -50%) !important;
  transition: none !important;
}

#mce-modal-block.mce-in.mce-in {
  opacity: .8;
}

.mce-reset,
.mce-window-body.mce-window-body {
  width: 100%!important;
  height: 100%!important;
}

.mce-reset {
  display: table;
  width: 100%;
  height: 100%;

  @include rtl {
    direction: rtl;
  }

  .mce-window-head.mce-window-head {
    display: table-row;
    padding: 0;
    white-space: nowrap;
    height: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    .mce-close {
      right: 10px;
      top: -35px;
    }
  }

  .mce-title {
    padding: 13px !important;
    font-weight: $regular !important;
    background: #f0f0f0 !important;
    color: #222222 !important;
    font-size: 21px !important;
    border-bottom: 1px solid #d2d2d2 !important;

    @include rtl {
      text-align: right;
    }
  }

  .mce-window-body.mce-window-body {
    display: table-row;
    padding-top: 0;
    padding-left: 0;
  }

  .mce-foot.mce-foot {
    display: none;
  }
}

.mce-dragh {
  display: none!important;
}

.mce-reset .mce-window-head.mce-window-head .mce-close {
  top: -39px !important;
  right: -1px !important;

  @include rtl {
    right: auto;
    left: -1px;
  }
}